{% extends 'blog/basic.html' %}

{% block body %}
<div class="container">
    <div class="row g-5 mt-2">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Title
            </h3>
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Heading 0</h2>
                <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
                <h2>Heading 1</h2>
                <p>Heading 1 Content</p>

                <h2>Heading 2</h2>
                <p>Heading 2 Content</p>
            </article>
        </div>
    </div>
</div>
{% endblock%}