{% extends 'blog/basic.html' %}

{% block body %}
<div class="container">
    <div class="row g-5 mt-2">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                {{post.title}}
            </h3>
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">{{post.head0}}</h2>
                <p class="blog-post-meta">{{post.chead0}}</p>
                <h2>{{post.head1}}</h2>
                <p>{{post.chead1}}</p>

                <h2>{{post.head2}}</h2>
                <p>{{post.chead2}}</p>
            </article>
        </div>
    </div>
</div>
{% endblock%}