{% extends 'shop/base.html' %}
{% load static %}

{% block css %}

.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.col-md-3 img {
width: 100%;
height: 225px;
object-fit: cover;
}

.card-text{
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
min-height: 50px;
}



body .carousel-indicators button {
background-color: blue;
}

.carousel-indicators .active {
background-color: blue;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
{
filter: invert(1);
}

.cart {
position: relative;
z-index: 9999;
}


.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom:auto;
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}
{% endblock %}

<!-- hero-section -->
{% block hero%}
{% endblock %}






{% block body %}

<div class="container">
  {% for product , range , nslides in allprod %}
  <h1>{{product.0.category}}</h1>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="0"
          class="active"></button>

        {% for i in range %}
        <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"></button>
        {% endfor %}
      </div>

      <div class="carousel-inner no-padding">

        <div class="carousel-item active">


          {% for i in product %}
          <div class="col-xs-3 col col-sm-3 col-md-3">
            <div class="card h-100 w-90">
              <img src='{{ i.image.url }}' class="card-img-top" alt="{% static 'shop/ecom1.jpg' %}">
              <div class="card-body">
                <h5 class="card-title">{{i.product_name|truncatewords:12}}</h5>
                <p class="card-text">{{i.desc|truncatewords:12}}</p>
                <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
        </div>
        <div class="carousel-item">
          {% endif %}

          {% endfor %}
        </div>
      </div>


      <!--  correction: controls Bootstrap 5 -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block js %}

<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }

  $(document).on("click", ".cart", function () {
    alert('button clicked');
    var idstr = this.id.toString();

    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    }
    else {
      cart[idstr] = 1;
    }

    localStorage.setItem('cart', JSON.stringify(cart));

    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart))

  });

  let popcart = document.getElementById("popcart");

  let popover = new bootstrap.Popover(popcart, {
    trigger: "hover",
    placement: "bottom",
    html: true,
    content: `<h4>Cart Items: ${Object.keys(cart).length}</h4>`
  });
</script>



{% endblock %}