<!-- I HAVE TO CREATE THE MY CART PAGE  -->

{% extends 'shop/base.html' %}
{% load static %}

{% block css %}

.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.col-md-3 img {
width: 100%;
height: 225px;
object-fit: cover;
}

.card-text{
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
min-height: 50px;
}



body .carousel-indicators button {
background-color: blue;
}

.carousel-indicators .active {
background-color: blue;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
{
filter: invert(1);
}

.cart {
position: relative;
z-index: 9999;
}


.carousel {
position: relative;
}

/* arrows ko overlay se bahar nikalo */
.carousel-control-prev,
.carousel-control-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 40px;
height: 40px;
background: #fff;
border-radius: 50%;
opacity: 1;
box-shadow: 0;
}


.carousel-control-prev {
}

.carousel-control-next {
right: -50px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
filter: invert(1);
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}
{% endblock %}

<!-- hero-section -->
{% block hero%}
{% endblock %}






{% block body %}

<div class="container">
  {% for product , range , nslides in allprod %}
  <h1>{{product.0.category}}</h1>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="0"
          class="active"></button>

        {% for i in range %}
        <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"></button>
        {% endfor %}
      </div>

      <div class="carousel-inner no-padding">

        <div class="carousel-item active">


          {% for i in product %}
          <div class="col-xs-3 col col-sm-3 col-md-3">
            <div class="card h-100 w-90">
              <img src='{{ i.image.url }}' class="card-img-top" alt="{% static 'shop/ecom1.jpg' %}">
              <div class="card-body">
                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name|truncatewords:12}}</h5>
                <p class="card-text">{{i.desc|truncatewords:12}}</p>
                <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}" class="btn btn-primary add-cart">Add To Cart</button></span>
                <a href="/shop/products/{{i.id}}"><button class="btn btn-primary cart">QuickView</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
        </div>
        <div class="carousel-item">
          {% endif %}

          {% endfor %}
        </div>
      </div>


      <!--  correction: controls Bootstrap 5 -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block js %}

<script>
  let cart = {};

  try {
    let storedCart = localStorage.getItem("cart");
    if (storedCart) {
      cart = JSON.parse(storedCart);
    }
  } catch (e) {
    cart = {};
    localStorage.setItem("cart", JSON.stringify(cart));
  }

  document.getElementById("cart").innerHTML = Object.keys(cart).length;


  $(document).on("click", ".add-cart", function () {
    let id = this.id;

    if (cart[id] == undefined) {
      cart[id] = 1;
    } else {
      cart[id] += 1;
    }

    updateCart(cart);
  });


  function updateCart(cart) {
    for (let item in cart) {
      let div = document.getElementById("div" + item);
      if (!div) continue;

      div.innerHTML =
        `<button id="minus${item}" class="btn btn-primary minus">-</button>
         <span id="val${item}"> ${cart[item]} </span>
         <button id="plus${item}" class="btn btn-primary plus">+</button>`;
    }

    localStorage.setItem("cart", JSON.stringify(cart));
    document.getElementById("cart").innerHTML = Object.keys(cart).length;

    updatePopover(cart);
  }

  $(document).on("click", ".plus", function () {
    let id = this.id.replace("plus", "");
    cart[id] += 1;
    updateCart(cart);
  });

  $(document).on("click", ".minus", function () {
    let id = this.id.replace("minus", "");
    cart[id] -= 1;

    if (cart[id] <= 0) {
      delete cart[id];
      document.getElementById("div" + id).innerHTML =
        `<button id="${id}" class="btn btn-primary add-cart">Add To Cart</button>`;
    }

    updateCart(cart);
  });

  let popcart = document.getElementById("popcart");

  function updatePopover(cart) {
    let popStr = "<h5>These are the items in your cart</h5>";
    let i = 1;

    for (let item in cart) {
      let nameElem = document.getElementById("name" + item);
      if (!nameElem) continue;

      popStr += `<b>${i}</b>. ${nameElem.innerHTML} | Qty: ${cart[item]}<br>`;
      i++;
    }
    popStr += `
    <hr>
    <a href="/shop/checkout" class="btn btn-primary btn-sm me-2">Checkout</a>
     <a href="javascript:void(0)" onclick='clearcart()' id="clearCart" class="btn btn-danger btn-sm">Clear Cart</a>
  `;
    popcart.setAttribute("data-bs-content", popStr);

    let popover = new bootstrap.Popover(popcart, {
      html: true,
      trigger: "click",
      placement: "bottom"
    });

    popover.show();
  }

  updatePopover(cart);

  function clearcart(cart) {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (let item in cart) {
      document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary add-cart">Add To Cart</button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
  }
</script>


{% endblock %}