{% extends 'shop/base.html' %}

{% block title %}
Checkout - My Awesome Cart
{% endblock%}

{% block body%}

<div class="container">
    <div class="col my-2">
        <h2>My Awesome Cart Tracker - Enter Your Order_id And Email</h2>
        <form class="row g-3" method="post" action="/shop/tracker/" id="trackerform"> {% csrf_token %}
            <div class="col-md-6">
                <label for="inputname" class="form-label">Order_id</label>
                <input type="name" class="form-control" id="Order_id" name="Order_id">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="Email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>

    <div class="col my-4">
        <h2>Your Order Status:</h2>
        <div class="my-4">
            <ol class="list-group list-group-numbered" id="items">
            </ol>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}

<script>
$('#trackerform').submit(function(event)
{
    event.preventDefault();
    $('#items').empty();

    let formdata = {
        'orderId': $('input[name=Order_id]').val(),
        'email': $('input[name=Email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
        type:'POST',
        url:'/shop/tracker/',
        data: formdata,
        encode:true
    })
    .done(function(data){
        console.log(data);
    });
});
</script>

{% endblock %}